# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# FastAPI / Uvicorn
# =========================
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Uploads / Temp
# =========================
*.csv
uploads/
